<html>
<head>
  <title>Ironbeers</title>
   
   <link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="http://localhost:3000/">Home</a></li>
      <li><a href="http://localhost:3000/beers">Beers</a></li>
      <li><a href="http://localhost:3000/random-beer">Random Beer</a></li>
    </ul>
  </nav>
  
  {{{ body }}}

</body>
</html>